<ion-view view-title="Login">
  <ion-content class="roskilde-bg">
    <div class="roskilde-info">
        <img src="./img/roskildelogo.png">
    </div>
    <div class="festiven-info">
        <img src="./img/festivenlogo.png">
    </div>
    <div class="fb-login">
      <label class="item">
        <button id="facebook" class="button button-block button-positive" ng-click="vm.login()">
        Login with Facebook
        </button>
      </label>
    </div>
    </div>



  </ion-content>
</ion-view>
