<ion-view view-title="Map">
  <ion-content>
    <div id="map" data-tap-disabled="true"></div>

    <div class="pill-menu pill-menu-top pill-menu-right">
      <label class="pill" for="marker">
        <input checked="checked" class="radio-pill" type='radio' name="marker" id="marker" ng-model='radio.radioValue' value="marker"/>
        <img src="img/icons/marker.svg" alt="Marker">
      </label>
      <label class="pill" for="tent">
        <input class="radio-pill" type='radio' name="marker" id="tent" ng-model='radio.radioValue' value="tent"/>
        <img src="img/icons/tent.svg" alt="Tent">
      </label>
      <label class="pill" for="car">
        <input class="radio-pill" type='radio' name="marker" id="car" ng-model='radio.radioValue' value="car"/>
        <img src="img/icons/car.svg" alt="Car">
      </label>
    </div>

    <div class="pill-menu pill-menu-bottom pill-menu-right">
      <a class="pill center-map" title="Center the map on your current position">
        <img src="img/icons/center.svg" alt="Center">
      </a>
    </div>

    <marker ng-show="placeMarker" class="center-marker" value="radio.radioValue"></marker>

    <div class="dialog" ng-show="placeMarker">
      <div class="dialog-text">
        <p>
          Move the marker by dragging the map to the desired position.
        </p>
        <p>
          Press "Place" when you are done.
        </p>
      </div>
      <div class="dialog-options">
        <button ng-click="addMarker()" class="place-marker">
          Place
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
