<ion-view view-title="Settings">
  <div class="bar bar-header bar-assertive">
    <h1 class="title">Settings</h1>
  </div>
  <ion-content class="has-header">
    <div class="item item-divider">
      Profile Infomation
    </div>

      <p class="item">
        Logged in as Sander Lenaerts
      </p>
    
    <section class="app-settings">
      <div class="item item-divider">
        Configuration
      </div>
      <ul class="list">
        <li class="item item-toggle">
           Discoverability
           <label class="toggle toggle-assertive">
             <input type="checkbox" ng-model="settings.enableFriends">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           Location Transmission
           <label class="toggle toggle-assertive">
             <input type="checkbox" ng-model="settings.enableFriends">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
      </ul>
    </section>
  </ion-content>
</ion-view>
