<ion-view view-title="Friends">
  <ion-header-bar class="bar-assertive">
  <h1 class="title">Friends</h1>
</ion-header-bar>

<ion-subheader-bar class="bar bar-subheader pill-container">

    <div class="pill-half left-pill-half pill-active">
      <a href="#/tab/friends">Friends</a>
    </div>
    <div class="pill-half right-pill-half">
      <a href="#/tab/requests">Requests</a>
    </div>
</ion-subheader-bar>

  <ion-content class="has-big-subheader has-header">
    <div class="search-list list list-inset">
      <label class="search-filter item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input ng-model="search.name" type="text" placeholder="Search">
      </label>
    </div>
    <ion-list>
      <ion-item ng-show="!vm.friends.length">
        <p class="empty-message">It seems like you haven't added any friends yet. </p>
      </ion-item>
      <ion-item ng-show="vm.friends.length" ng-repeat="friend in vm.friends | filter:search.name track by $index" class="person-list item-remove-animate item-button-right"  type="item-text-wrap">
        <img ng-src="http://graph.facebook.com/{{friend.id}}/picture?width=32&height=32"/>
        <span>{{friend.name}}</span>

        <div class="buttons">
          <button friend-button class="button button-assertive" ng-click="disabled || deleteFriend(friend.id)">
              <i class="icon ion-trash-b"></i>
          </button>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
  <ion-footer-bar class="add-footer bar-assertive">

    <a href="#/tab/addFriends">Add Friend</a>

  </ion-footer-bar>

</ion-view>
