<ion-view view-title="Map">
  <ion-content>
    <div id="map" data-tap-disabled="true"></div>
    <div class="pill-nav">
      <!--<a class="pill" href="">M</a><a class="pill" href="">C</a><a class="pill" href="">T</a>-->



      <label class="pill" for="marker">
        <input checked class="radio-pill" type='radio' name="marker" id="marker"/>
        <img width="28px" src="img/marker.svg"/>
      </label>

      <label class="pill" for="tent">
        <input class="radio-pill" type='radio' name="marker" id="tent"/>
        <img width="28px" src="img/tent.svg"/>
      </label>

      <label class="pill" for="car">
        <input class="radio-pill" type='radio' name="marker" id="car"/>
        <img width="28px" src="img/car.svg"/>
      </label>



    </div>
  </ion-content>
</ion-view>
