<ion-view view-title="Add Friends">
  <ion-header-bar class="bar-assertive">
  <div class="buttons">
    <button ng-click="vm.goBack()" class="button"><i class="icon ion-chevron-left"></i>Friends</button>
  </div>
  <h1 class="title">Add Friends</h1>
  <div class="buttons"></div>
</ion-header-bar>
<ion-subheader-bar class="bar bar-subheader item-input-inset pill-container">
    <div class="pill-half left-pill-half pill-active">
      <a href="#/tab/friends">Friends</a>
    </div>
    <div class="pill-half right-pill-half">
      <a href="#/tab/requests">Requests</a>
    </div>
</ion-subheader-bar>
<ion-subheader-bar class="bar bar-subheader item-input-inset search-container">
  <div class="search-list list list-inset">
    <label class="search-filter item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input ng-keyup="vm.getPeopleByQuery(search.name)" ng-model="search.name" type="text" placeholder="Search">
    </label>
  </div>
</ion-subheader-bar>


  <ion-content class="has-header has-big-subheader double-subheader">
    <ion-list>
      <ion-item ng-show="!vm.filteredFriends.length && !vm.nonFbFriends.length">
        <p class="empty-message">It seems like there aren't any suggestions. </p>
      </ion-item>
      <ion-item ng-show="vm.filteredFriends.length" ng-repeat="friend in vm.filteredFriends | filter:search.name track by $index " class="person-list item-remove-animate item-avatar item-button-right"  type="item-text-wrap">
        <img ng-src="http://graph.facebook.com/{{friend.id}}/picture?width=32&height=32"/>
        <span>{{friend.name}}</span>

        <div class="buttons">
          <button friend-button class="button button-assertive" ng-click="disabled || addFriend(friend.id)">
              <i class="icon ion-plus icon-plus-center"></i>
          </button>
        </div>
      </ion-item>
      <ion-item ng-show="vm.nonFbFriends.length" ng-repeat="friend in vm.nonFbFriends | filter:search.name track by $index " class="person-list item-remove-animate item-avatar item-button-right"  type="item-text-wrap">
        <img ng-src="http://graph.facebook.com/{{friend.id}}/picture?width=32&height=32"/>
        <span>{{friend.name}}</span>

        <div class="buttons">
          <button friend-button class="button button-assertive" ng-click="disabled || addFriend(friend.id)">
              <i class="icon ion-plus icon-plus-center"></i>
          </button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
