@import "vars";
@import "components/map";
@import "components/pill-menu";
@import "components/setting";
@import "components/spinner";
@import "components/buttons";


.person-list h2{
  display: inline-block;
  line-height: 2.4rem;
  vertical-align: middle;
}
