.add-button {
  background: none;
  border-radius: 5px;
  width: 32px;
  height: 32px;
  background:none;
  border: 1px solid $roskilde;
  color: orangered;
  font-size: 1rem;
  height: 2rem;
  width: 2rem;

  .icon {
    font-size: 1rem;
    height: auto;
  }
}

.item-button-right > .centered-button {
  top: 15px;
}

.pill-btn{
  background-color: $roskilde;
  border-radius: 15px;
  bottom: 7px;
  margin: 0 1.25%;
  padding: 10px;
  position: absolute;
  width: 97.5%;

  a {
    color: #fff;
    display: block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.pill-container {
  background-image: none;
  border-bottom: none;
  height: auto;
  margin: 10px 1.25%;
  width: 97.5%;

  .pill-half {
    border: 2px solid $roskilde;
    display: inline-block;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 50%;

    a {
      color: $roskilde;
      font-weight: bold;
      padding: 10px;
      text-align: center;
      text-decoration: none;
    }
  }

  .left-pill-half{
    border-radius: 25px 0 0 25px
  }

  .right-pill-half {
    border-radius: 0 25px 25px 0;
    margin-left: -4px;
  }

  .pill-active {
    background-color: $roskilde;
    color: #fff;

    a {
      color: #fff;
    }
  }
}

.add-footer{
  border-radius: 25px;
  margin: 10px 1.25%;
  text-align: center;
  width: 97.5%;

  a {
    color: #fff;
    font-weight: bold;
    line-height: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
}

.has-big-subheader {
  top: 120px;
}

.info {
  width: calc(50% - 10px);
  padding: 10px;
  border: none;
}

.info-delete {
  color: white;
  background-color: $roskilde;
}

.info-cancel {
  margin-right: 20px;
  color: white;
  background-color: $balanced;
}

.item-icon-right.icon-plus-center {
  right: 7px;
  top: 1px;
}
