.dialog {
  background: #fff;
  border-radius: 30px;
  bottom: .75rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
  box-sizing: border-box;
  color: #444;
  font-size: 16px;
  left: .75rem;
  position: fixed;
  right: .75rem;

  .dialog-text {
    box-sizing: border-box;
    display: block;
    padding: 1rem 1.5rem;

    p {
      margin-bottom: 0;
    }
  }

  .dialog-options {
    button {
      background: #fff;
      border: none;
      border-top: 1px solid #eee;
      font-size: 18px;
      height: 3rem;
      padding: 0;
      width: 50%;

      &.place-marker {
        border-bottom-left-radius: 30px;
        border-right: 1px solid #eee;
        color: #0a0;
      }

      &.cancel-marker {
        border-bottom-right-radius: 30px;
        color: #f00;
      }
    }
  }
}
