.person-list img {
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.item span {
  line-height: 2.5rem;
}

.item-button-right > .buttons {
  top: 15px;
}

.select-list .item {
  border-width: 0;
}

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
  background-color: $roskilde;
  border-color: $roskilde;
}
