

.spinner {
  //background: #eee;
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  margin: 50px;
  bottom: 15vh;
  left: calc(50% - 25px);
  position: absolute;
  width: 50px;
  margin: 0 auto;

  &:after, &:before {
    border-radius: 50%;
    content: '';
    display: block;
    height: 50px;
    width: 50px;
  }
}

.spinner-1:after {
  animation: spinny 1s linear infinite;
  border: 3px solid transparent;
  border-bottom-color: white;
  border-top-color: white;
  left: 0;
  position: absolute;;
  top: 0;
}

.spinner-roskilde:after {
  border-bottom-color: $roskilde;
  border-top-color: $roskilde;
}

@keyframes spinny {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(45deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.loading {
  background-color: rgba(0,0,0,0) !important;
}
